<div class="sg-nav">
  <ul>
    <!-- you can exclude pages using \{{#isnt}} helper: \{{#isnt data.title 'Blog'}} -->
    {{#each pages}}
    <li{{#if this.isCurrentPage}} class="active"{{/if}}>
      <a href="{{relative dest this.dest}}">{{ data.title }}</a>
    </li>
    {{/each}}
  </ul>
  <button type="button" class="sg-nav--toggle"><img src="/styleguide/images/angle-double-left.svg" alt=""></button>
</div>